.sidebar {
  height: 100vh;
  width: 60px;
  background-color: #0B6D48;
  color: white;
  padding: 9px 9px;
  box-sizing: border-box;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.sidebar.expanded {
  width: 200px;
}

/* Botão Sidebar */
.toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
}

/* Header */
.sidebar-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.sidebar-logo {
  font-size: 32px;
  color: white;
}


.sidebar-group-name {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar.expanded .sidebar-group-name {
  opacity: 1;
  visibility: visible;
  opacity: 1;
  max-height: 100px;
  padding-top: 15px;
  margin-top: 15px;
}



.sidebar nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar nav ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 10px;
  font-size: 0;
  transition: font-size 0.3s ease, ease;
}

.menu-icon {
  font-size: 20px;
  margin-right: 10px;
  min-width: 20px;
}

.menu-text {
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.expanded .menu-text {
  opacity: 1;
}

/* Corrige cor dos ícones e textos mesmo com links */
.sidebar a {
  color: white;              /* Sempre branco */
  text-decoration: none;     /* Remove sublinhado */
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar a:visited,
.sidebar a:active {
  color: white;              /* Evita azul/roxo após clicar */
}

/* Garante ícones e textos sempre brancos */
.sidebar .menu-icon {
  color: white;
  transition: color 0.2s ease;
}

.sidebar .menu-text {
  color: white;
  transition: color 0.2s ease;
}

/* Efeito hover opcional */
.sidebar nav ul li:hover .menu-icon,
.sidebar nav ul li:hover .menu-text {
  color: #00ffb3; /* muda pro verde-claro ao passar o mouse, se quiser */
}
