.navbar-doacoes {
  background-color: #12736b;
  padding: 0;
  margin: 0;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar-doacoes ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar-doacoes li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 0.95rem;
  height: 100%;
  transition: background-color 0.2s;
  gap: 0.5rem;
}

.navbar-doacoes li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-doacoes li.active {
  background-color: #0d5449;
}

.navbar-doacoes .icon {
  font-size: 1.1rem;
}