/* Reset básico */
body {
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    background: url('Fundo\ de\ teste.png') no-repeat center center/cover;
  }
  
  /* Container lateral direita */
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-right: 100px;
  }
  
  /* Caixa do formulário */
  .form-box {
    width: 390px;
    background: rgba(255, 255, 255, 0.521);
    padding: 13px;
    border-radius: 25px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    backdrop-filter: blur(1px);
  }
  
  /* Títulos */
  .form-box h3 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: #444;
  }
  
  .form-box h1 {
    color: #0c461c;
    margin: 15px 0;
    font-size: 28px;
    text-align: left;
  }
  
  /* Texto de cadastro */
  .signup-text {
    text-align: right;
    margin: 5px;
    font-size: 14px;
    text-align: center;
  }
  
  .signup-text a {
    color: #0c461c;
    font-weight: bold;
    text-decoration: none;
  }
  
  .signup-text a:hover {
    text-decoration: underline;
  }
  
  
  .form-box label {
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
    display: block;
  }
  
  /* Inputs */
  .form-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 0px solid #0c461c;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .form-box input:focus {
    border-color: #0c461c;
    outline: none;
    box-shadow: 0 0 6px #6A9C7866;
  }
  
  /* Botão */
  .form-box button {
    width: 100%;
    padding: 12px;
    background-color: #0c461c;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  
  .form-box button:hover {
    background-color: #0c461c;
  }
  